.itemTodo {
    border: none;
    background-color: #c7fcec;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1px 0px;
    padding: 5px;    
    font-size: 17px;
    gap: 5px;
}

.itemText {
    flex-grow: 1;
    margin: 0;
}

.strike {
    text-decoration: line-through;
}