.title {
    align-self: center;
    font-size: 30px;
}

.selected {
    align-self: center;
    font-size: 30px;
    width: fit-content;
    border: none;
}

.selected:focus {
    outline: none;
    box-shadow: 0 4px 2px -2px gray;
}

.editBlock {
    align-self: center;
}