.newActionBlock {
    display: flex;
}

.newActionName {
    box-sizing: border-box;
    flex-grow: 1;
    color: #808080;
    background-color: #333333;
    border: 1px solid #0D0D0D;
    border-radius: 8px;
    gap: 8px;
}

.newActionName:focus {
    outline: none;
}

.addActionButton {
    color: white;
    background: #1E6F9F;
    border-radius: 8px;
}